@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start here */
header .navigation-bar{
    background-color: #f5f5f5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 1rem 5rem;
    z-index: 9999;
}
nav .logo img{
    max-width: 12rem;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-family: "Borel", cursive;
    font-size: 1rem;
    font-weight: 100;
}
nav .menu a{
    text-decoration: none;
    color: #333;
}
/* header start here */

/* hero section start here */
.hero{
    padding-top: 4.3rem;
}
.hero .container{
    padding: 2rem;
} 
.hero .container .slider-wrapper{
    position: relative;
    max-width: 45rem;
    margin: 0 auto;
} 
.hero .container .slider-wrapper .slides{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
} 
.hero .container .slider-wrapper .slides img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
} 
.hero .container .slider-wrapper .slide-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9998;
} 
.hero .container .slider-wrapper .slide-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 0.3s;
} 
.hero .container .slider-wrapper .slide-nav a:hover{
    opacity: 1;
} 
.slider::-webkit-scrollbar {
	display: none;
}
/* hero section end here */